.light-background {
    background-image: url(https://t3.ftcdn.net/jpg/02/21/28/00/240_F_221280023_cqXBxKJr0ibEJlljlGRGfL309Ke47mGa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:50% 50%;
    height: 100%;
    overflow-x: scroll;
}

.dark-background {
    background-image: url(https://t4.ftcdn.net/jpg/02/96/63/33/240_F_296633355_3Jd8R11QbtVfz5jHwm8QSasIS4MiUCIN.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:50% 50%;
    height: 100%;
    overflow-x: scroll;
}

.navigation-buttons{
    text-align: right;
    margin: 0 35px;
}
.rout-button{
    margin: 25px 5px;
}

.app-title{
    text-align: center !important;
}

.app-logo{
    height: 0;
    text-align: center;
}

 .theme-dropdown{
     margin: 25px 5px;
     float: left;
 }
