.favorites-page{
  border: 5px solid;
  color: black;
  margin: 120px;
}

.weather{
  text-align: center;
  margin: 50px;
}

.day-weather{
  margin: 50px;
  border: 4px solid;
  display: inline-block;
  height: 150px;
  width: 300px;
}

.favorites-title{
  margin-top: 20px;
  text-align: center;
}
