:root {
  --border-color: white;;
  --text-color: #0ab4eb;
}

.favorites-page{
  border: 5px solid;
  color:var(--border-color);
  margin: 120px 90px;
}

.weather{
  text-align: center;
  margin: 50px;
}

.day-weather{
  margin: 50px;
  border: 4px solid;
  display: inline-block;
  height: 150px;
  width: 300px;
}

.favorites-title{
  margin-top: 20px;
  text-align: center;
}
