.favorites-page{
  border: 3px solid;
  color: black;
  margin: 90px;
}

.weather{
  text-align: center;
  margin: 50px;
}

.day-weather{
  margin: 50px;
  border: 2px solid;
  display: inline-block;
  height: 150px;
  width: 300px;
}

.favorites-title{
  margin-top: 20px;
  text-align: center;
}
